
h1{
    color: aqua;
}
h2{
    color: blueviolet;
}
span{
    font-weight: bolder;
}
code{
    color:blue ;
}
h3{
    font-style: italic;
}
#parrafo{
    text-transform: uppercase;
    color: gray;
}
#verde{
    color: green;
}
#rojo{
    color: red;
}
